# TWITTER CHANNEL
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
TWITTER_USER_ID=

# OPENSEA
OPENSEA_API_KEY=

#LUCHADORES
LUCHADORES_IMAGE_URL=

# SYMFONY
APP_ENV=
APP_SECRET=
